<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
<!--    <style>-->
<!--        body { font-size: 16px; }-->
<!--        h1 { font-size: 22pt; }-->
<!--        p {  font-size: 1.5em; }-->
<!--        a {  font-size: 20px; }-->
<!--    </style>-->
</head>
<body>

<div th:fragment="admin_panel">
    <h3>ADMIN</h3>
    <a href="/">GO TO INDEX</a><br/><br/>
    <div th:each="user : ${listUsers}">
            <span th:text="${user.getId()}">id</span>
            <a th:href="@{/user/acc/{id}(id = ${user.getId()})}" th:text="${user.getEmail()}">user</a><br/>
            <span th:text="${user.getName()}">user</span><br/>
            <a th:href="@{/user/{id}(id = ${user.getId()})}" th:method="get">Edit</a>
            <form th:method="DELETE" th:action="@{/user/{id}(id = ${user.getId()})}"  th:object="${user}">
                <input th:type="submit" value="delete it!">
            </form>
            <br/><br/>
    </div>
</div>


<!--<br/><br/><div th:insert="basement::logout"></div>-->



</body>
</html>