<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!--    <div  th:insert="~{fragment_page_panels :: head_css}"></div>-->
    <title>Admin</title>
</head>
<body>

<div th:fragment="admin_panel">

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12"><br>

                <div class="card card-warning">
                    <div class="card-header text-left"><h3>All users</h3></div>
                    <div class="card-body">
                        <table class="table table-striped" id="usersTable">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Email</th>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Roles</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div><br><br>
            </div>
        </div>
    </div>
</div>




<!--<div th:insert="~{fragment_page_panels :: footer}"></div>-->
<!--<script src="/js/app_1.js"></script>-->
</body>
</html>