<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div  th:insert="~{fragment_page_panels :: head_css}"></div>
<!--    <link th:href="@{/css/signin.css}" rel="stylesheet">-->
</head>

<body class="text-center">

<div class="container-fluid">

    <div class="row align-items-center" style="height: 800px">
        <div class="col-md-5"></div>
        <div class="col-md-2 py-auto"><br>
                <form class="form-signin" method="post" action="/logincustom">

                    <img class="mb-4" th:src="@{/image/bootstrap-solid.svg}" alt="" width="72" height="72">

                    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

                    <div th:if="${error}" class="alert alert-danger" role="alert">
                        Error, invalid login or password
                    </div>

                    <div th:if="${logout}" class="alert alert-primary" role="alert">
                        You're logged out..
                    </div>

                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" name="j_email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" name="j_password" id="inputPassword" class="form-control" placeholder="Password" required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>
                </form>
        </div>

        <div class="col-md-5"></div>

    </div>
</div>

<div th:insert="~{fragment_page_panels :: footer}"></div>
</body>
</html>